.bg{
    min-height: 100vh;
    background-image: linear-gradient(180deg,rgb(218, 203, 203), rgb(189, 78, 78));
    background-attachment: fixed;
    background-size:cover;
}

.bg h1 {
    text-align: center;
}


.inputcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 10vh;
}

.inputcontainer input{
    height: 65px;
    width: 300px;
    border: solid 2px black;
    border-radius: 40px;
}

.inputcontainer button{
    width: 300px;
    height: 100px;
    background-color: rgb(253, 173, 173);
    font-size: 25px;
    border-radius: 20px;
}
.inputcontainer input::placeholder{
    color: black;
    font-size: 14px;
}
.btnback{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.btnback button{
    width: 300px;
    height: 100px;
    font-size: 25px;
    background-color: rgb(253, 173, 173);
    border-radius: 20px;
}

