.bgshop{
    background-image: linear-gradient(180deg,rgb(218, 203, 203), rgb(189, 78, 78));
    min-height: 100vh;
}
.bgshop h1{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,280px);
    gap :20px

}

.products img{

    width: 200px;
    height: 250px;
    mix-blend-mode: multiply;
}
.products button {
    background-color: red;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    
}
.product {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    padding-bottom: 20px;
    border: solid black 2px;
}

.btnrow{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.bgshop .product .btnrow button{
    height: 30px;
    gap: 20px;
    width: 30px;
    background-color: aqua;
    
}