.bgshop{
    background-image:  linear-gradient(180deg,rgb(218, 203, 203), rgb(189, 78, 78));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: auto;
}
.bgshop h1{
    text-align: center;
    -webkit-text-stroke: rgb(255, 255, 255) 1px;
    font-size: 60px;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap :20px;
    row-gap: 100px;
    justify-items: center;
}

.card{

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    border:  solid black 2px;
    border-radius: 20px;
    padding: 10px;
}
.card .name{
 
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: rgb(156, 24, 7) 2px;
}
.description{
    text-align: center;
    flex-grow: 1;
}

.card img{
    mix-blend-mode: multiply;
    width: 200px;
    height: 220px;
    margin: auto;
}