.navlinks{
    display: flex;
    align-items: center;
    gap: 110px;
    background-image: linear-gradient(180deg, rgba(112, 39, 39, 0.986),rgba(255, 0, 0, 0.411));
    /* background-color: rgb(255, 116, 98); */
    height: 100px;
    border: 2px solid;
    border-radius: 20px;
}

.home{
    background-color: rgb(243, 128, 93);
    border: black 2px solid;
    margin-left: 20px;
    height: 50px;
    width: 70px;
    border-radius: 20px;
}
.title{
color: red;
margin-left: 35px;
-webkit-text-stroke: darkred 2px;
font-size: 40px;
}

.elements{
    display: flex;
    gap: 110px;
    justify-content: center;
    align-items: center;
    width: 700px;    
}

.link{
    color: red;
    font-weight: bolder;
    font-size: 25px;
    -webkit-text-stroke: black 3px;


}
.link:hover{
   text-decoration: none;
   color: red;
}


.subelements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
    
}

.subelements .user{
    background-color: rgb(218, 3, 3);
    border-radius: 50%;
    border: 2px solid black;
}