.bgshop{
    background-image: linear-gradient(180deg,rgb(218, 203, 203), rgb(189, 78, 78));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: auto;
}

.home{
    background-color: rgb(243, 128, 93);
    border: black 2px solid;
}
.navlinks{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 116, 98);
    height: 100px;
}
.title{
color: red;
margin-left: 120px;

}
 .elements{
    display: flex;
    gap: 110px;
    justify-content: center;
    width: 700px;    
}
.container-products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}
.filters{
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    background-color: brown;
}


.bgshop input{
    width: 400px;
    height: 40px;
    margin-left: 30px;
    border-radius: 30px;
}

.bgshop input::placeholder{
    font-size: 15px;
    color: black;
}
 
.settings{
    margin-top: 90px;
    display: flex;
    align-items: center;
    gap: 20px;
} 
.settings button{
    background-image: radial-gradient(rgb(216, 41, 41),rgb(122, 24, 24));
    color: white;
    border: black solid 2px;
    /* height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em, 1.2em; */
}
.card {

    width: 360px;
    min-height: 340px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    padding-bottom: 10px;
    border: solid 2px black;
    position: relative;

}

.card img{
    margin: auto;
    width: 200px;
    height: 220px;
    mix-blend-mode: multiply;
}

.card:hover{
    background-color: rgb(99, 255, 177);
}

.price{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    
    
}

.description{
    font-size: 14px;
}

.name{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    -webkit-text-stroke:rgb(156, 24, 7) 2px;
}

.card button{
    background-color: rgb(253, 173, 173);
    /* border: 2px solid transparent;
    font-size: 1em;
    border-radius: 8px;
    padding: 0.6em 1.2em; */
}

.Heart{
  position: absolute;
  top: 0.5%;
  left: 20px;
}